<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.005 0.005 0.005"/>
      </geometry>
    </visual>
  </link>

  <joint name="head_camera_joint" type="fixed">
  <parent link="head"/>
  <child link="camera_link"/>
  <origin xyz="0.020813 0 -0.0071471" rpy="0 0 0"/>
  </joint>

    <gazebo reference="camera_link">
      <sensor type="camera" name="cozmo_camera">
        <update_rate>10.0</update_rate>
        <camera name="headcamera">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>400</width>
            <height>400</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>

            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>10.0</updateRate>
          <cameraName>cozmo_camera</cameraName>
          <imageTopicName>/cozmo/image</imageTopicName>
          <cameraInfoTopicName>/cozmo/camera_info</cameraInfoTopicName>
          <frameName>camera_link</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>

</robot>
