<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="field_of_view" value="0.02"/>

  <link name="tof_link"/>
  <joint name="tof_joint" type="fixed">
      <parent link="base_link"/>
      <child link="tof_link"/>
      <origin rpy="0 0 0" xyz="0.043 0 -0.005"/>
  </joint>

  <gazebo reference="tof_link">
      <sensor type="ray" name="tof_link">
          <pose>0 0 0 0 0 0</pose>
          <visualize>true</visualize>
          <update_rate>10.0</update_rate>
          <ray>
              <scan>
                  <horizontal>
                      <samples>4</samples>
                      <resolution>1</resolution>
                      <min_angle>${-field_of_view/2}</min_angle>
                      <max_angle>${field_of_view/2}</max_angle>
                  </horizontal>
                  <vertical>
                      <samples>4</samples>
                      <resolution>1</resolution>
                      <min_angle>${-field_of_view/2}</min_angle>
                      <max_angle>${field_of_view/2}</max_angle>
                  </vertical>
              </scan>
              <range>
                  <min>0.0</min>
                  <max>0.4</max>
                  <resolution>0.01</resolution>
              </range>
              <noise>
                <type>gaussian</type>
                <mean>0.01</mean>
                <stddev>0.01</stddev>
              </noise>
          </ray>
          <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
              <gaussianNoise>0.01</gaussianNoise>
              <topicName>/vector/laser</topicName>
              <frameName>tof_link</frameName>
              <radiation>INFRARED</radiation>
              <updateRate>10</updateRate>
              <fov>${field_of_view}</fov>
          </plugin>
      </sensor>
  </gazebo>

</robot>
