<launch>

  <arg name="robot_type" default="vector"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="load_world" default="false"/>
  <arg name="teleop" default="true"/>

  <!-- load model to parameter server and spwan for gazebo -->
  <arg name="model" default="$(find anki_description)/urdf/$(arg robot_type).xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 0.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <!-- state publishers -->
  <rosparam file="$(find anki_description)/config/$(arg robot_type)_config.yaml" command="load"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
		<remap from="/joint_states" to="/$(arg robot_type)/joint_states" />
			<param name="publish_frequency" type="double" value="5.0" />
		</node>

  <!-- TODO: doublecheck controller interface -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="$(arg robot_type)"
		output="screen" args="joint_state_controller head_angle lift_height">
	</node>

  <!-- launch gazebo -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find anki_description)/world/practice.world" if="$(arg load_world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="headless" value="false"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group if="$(arg teleop)">
   <node pkg="joy" type="joy_node" name="joy_node">
     <param name="dev" value="/dev/input/js0" />
     <param name="deadzone" value="0.05" />
     <param name="autorepeat_rate" value="100" />
   </node>

   <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
     <rosparam command="load" file="$(find anki_description)/params/airrow.config.yaml" />
   </node>
  </group>

</launch>
